.bg-blue{
  background-color: #0096FF;
  color: #fff ;
}
.btn-1{
  background-color: #0096FF;
  border: 2px solid;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
}
.saving-segment .offcanvas-header {
  display: block;
  padding: 0;
}
.saving-segment .offcanvas .btn-close {
  --bs-btn-close-color: #fff;
  --bs-btn-close-bg: none;
  --bs-btn-close-opacity: 1;
}
.btn-2{
  border: none;
  background: none;
  color: #0a568d;
  text-decoration: underline;
}
.bluebox{
  border: 2px solid #0096FF;
  padding: 20px;
}
